doctype html
html(ng-app="app")
    | <#include "/define.ftl">
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title OCR - ChongQing Devfest 2016 ML
        link(href="${Context}/webjars/bootstrap-css/3.3.6/css/bootstrap.css", rel="stylesheet")
        link(href="${Context}/webjars/gentelella/1.3.0/build/css/custom.min.css", rel="stylesheet")
        style.
            .thumbnail{
                height:340px;
            }
            .thumbnail .image {
                height: auto;
            }
            .caption {
                height:120px;
            }
    body.nav-md(ng-controller="BodyCtrl", style="background:#EDEDED;")
        .container.body
            .main_container
                .right_col(style="margin-left:0px;background:#fff;")
                    .page-title
                        .title_left
                            h3 OCR - ChongQing Devfest 2016 ML
                    .clearfix
                    .row
                        .col-md-12
                            .x_panel
                                .x_content
                                    .row
                                        .col-md-3
                                            .thumbnail
                                                .image.view.view-first
                                                    img(style='width: 100%;display: block;', src="${Assets}/img/ocr.png")
                                                .caption
                                                    label.label.label-success 扫描二维码体验
                                        .col-md-3(ng-repeat="ocr in ocrs | orderBy: 'created' : 'reverse'")
                                            .thumbnail
                                                .image.view.view-first
                                                    img(style='width: 100%;height:100%; display: block;', ng-src="{{ocr.imgUrl}}")
                                                .caption
                                                    label.label.label-success(ng-bind="ocr.user.nickname")
                                                    label.label.label-primary(ng-bind="ocr.created | date: 'yyyy-MM-dd HH:mm:ss'", style="margin-left:5px;")
                                                    hr(style="margin: 2px 0;")
                                                    div(ng-bind="ocr.text", style="padding: 5px;height: 70px;overflow: auto;")
        script.
            var Context = "${Context}";
            var Assets = "${Assets}";
        script(src="${Context}/webjars/angular/1.5.8/angular.min.js")
        script(src="${Assets}/js/ocr.js")
