doctype html
html(ng-app="app")
    | <#include "/define.ftl">
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,height=device-height")
        meta(name="format-detection", content="telephone=yes")
        title(page-title) Face - ChongQing Devfest 2016 ML
        link(href="${Context}/webjars/weui/1.0.2/dist/style/weui.min.css", rel="stylesheet")
        style.
            .imgdiv {
                height: 300px;
                width: 100%;
                overflow: hidden;
                position: relative;
                background-image: url('${Assets}/img/top1.jpg');
                margin-top: 60px;
                background-size: 100%;
                background-repeat: no-repeat;
            }

            .right {
                float: right;
            }
    body(ng-controller="BodyCtrl")
        .container
            .imgdiv
                .namediv(style="padding: 20px 40px 0 160px;text-align: center;")
                    p(ng-bind="user.nickname")
                    img(ng-src="{{user.headImgUrl}}",style="width:70px;height:70px;margin-top:10px;border: 1px solid #ccc; border-radius: 50%;")
                    p(style="color:#5BC0A1;font-size:26px;") @
            .button-sp-area
                button.weui-btn.weui-btn_primary(type="button", style="width:90%", ng-click="upload();", ng-if="ready && !result") 点击自拍 😊 赢奖品
            .textdiv(style="margin-top:10px;display:inline-block;width:100%; border-top: 1px solid #ccc;", ng-if="result")
                .img.left(style="display:inline-block; width:40%;")
                    img(ng-src="{{result.faceUrl}}", style="margin-left:20px;width: 100px; height: 100px; border: 2px solid #ccc;")
                .levev_div.right(style="color:#666; font-size:20px; display:inline-block; margin-top:10px; width:60%;")
                    p(ng-bind="'😊' + result.joy * result.detectionConfidence")
                    p(ng-bind="'😢' + result.sorrow * result.detectionConfidence")

        script.
            var Context = "${Context}";
            var Assets = "${Assets}";
        script(src ="http://res.wx.qq.com/open/js/jweixin-1.1.0.js")
        script(src="${Context}/webjars/angular/1.5.8/angular.min.js")
        script(src="${Context}/webjars/github-com-belerweb-angular-weui/1.0.1/dist/angular-weui.min.js")
        script(src="${Assets}/js/wx/face.js?version=2")
